<app-menu></app-menu>
<div class="container">    
    <div class="row bg-light p-md-5 p-3 rounded" style="margin-top: 5em;">
        <div class="col-md-6 d-none d-md-block">
            <img src="./assets/img/LOGO FINAL.png" alt="" style="width: 60%; height: 85%">
        </div>
        <!-- /.cold-md-6 -->
        <div class="col-md-6">
            <h2>KAIZEN SOFTWARE</h2>
            <p class="lead">kaizen software proporcionan todo lo que necesita para tener una aplicación móvil
                empresarial excepcional. Desde la optimización y la generación de perfiles de aplicaciones
                pasan por la corrección de errores con la inspección dinámica, le invitamos a probar la creación
                y la ejecución en dispositivos reales con Smart to Bubiness Test Cloud.
                Soluciones para cada fase del ciclo de vida móvil.</p>

            <a href="/contacto" class="btn btn-outline-primary btn-lg">Contáctanos</a>
        </div>
        <!-- /.cold-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<div class="card-deck mb-3 text-center">
    <div class="card-deck m-3">
        <div class="col-md-4">
            <i class="fas fa-briefcase"></i>
            <div class="card border-success mb-3">
                <div class="card-header"><h4>DESARROLLO WEB</h4></div>
                <div class="card-body text-success">
                    <h5 class="card-title">Desarrollo de páginas web a tu medida</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <!-- /.cold-md-4 -->
        <div class="col-md-4">
            <i class="fas fa-briefcase"></i>
            <div class="card border-success mb-3">
                <div class="card-header"><h4>DESARROLLO DE SOFTWARE</h4></div>
                <div class="card-body text-success">
                    <h5 class="card-title">Los mejores sistemas están con nosotros</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 rounded">
            <i class="fas fa-briefcase"></i>
            <div class="card border-success mb-3" >
                <div class="card-header"><h4>DESARROLLO MÓVIL</h4></div>
                <div class="card-body text-success">
                    <h5 class="card-title">Conoce nuestras aplicaciones móviles, ¡te encantarán!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <!-- /.cold-md-4 -->
    </div>
    <!-- /.container  -->
</div>

<app-footer></app-footer>