<app-menu></app-menu>
<div class="container">
    <div class="row bg-light p-md-5 p-3 rounded" style="margin-top: 5em;">
        <div class="col-md-6 d-none d-md-block">
            <img src="./assets/img/LOGO FINAL.png" alt="" style="width: 60%; height: 85%">
        </div>
        <!-- /.cold-md-6 -->
        <div class="col-md-6">
            <h2>KAIZEN SOFTWARE</h2>
            <p class="lead">kaizen software proporcionan todo lo que necesita para tener una aplicación móvil
                empresarial excepcional. Desde la optimización y la generación de perfiles de aplicaciones
                pasan por la corrección de errores con la inspección dinámica, le invitamos a probar la creación
                y la ejecución en dispositivos reales con Smart to Bubiness Test Cloud.
                Soluciones para cada fase del ciclo de vida móvil.</p>

            <a href="/contacto" class="btn btn-outline-primary btn-lg">Contáctanos</a>
        </div>
        <!-- /.cold-md-6 -->
    </div>

    <div class="row bg-light p-md-5 p-3 rounded" style="margin-top: 5em;">
        <div class="col-md-6 d-none d-md-block">
            <h2 class="text-center">M I S I Ó N</h2>
            <p class="lead">kaizen software proporcionan todo lo que necesita para tener una aplicación móvil
                empresarial excepcional. Desde la optimización y la generación de perfiles de aplicaciones
                pasan por la corrección de errores con la inspección dinámica, le invitamos a probar la creación
                y la ejecución en dispositivos reales con Smart to Bubiness Test Cloud.
                Soluciones para cada fase del ciclo de vida móvil.</p>
        </div>
        <!-- /.cold-md-6 -->
        <div class="col-md-6">
            <h2 class="text-center">V I S I Ó N</h2>
            <p class="lead">kaizen software proporcionan todo lo que necesita para tener una aplicación móvil
                empresarial excepcional. Desde la optimización y la generación de perfiles de aplicaciones
                pasan por la corrección de errores con la inspección dinámica, le invitamos a probar la creación
                y la ejecución en dispositivos reales con Smart to Bubiness Test Cloud.
                Soluciones para cada fase del ciclo de vida móvil.</p>

        </div>
        <!-- /.cold-md-6 -->
    </div>
</div>      
<app-footer></app-footer>